.movies-card__like {
  width: 14px;
  height: 12px;
  background-image: url(../../../images/icon-like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
}

.movies-card__like_active {
  width: 14px;
  height: 12px;
  background-image: url(../../../images/icon-like_active.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .movies-card__like {
    margin-top: 0;
    position: absolute;
    bottom: 36px;
    right: 16px;
  }

  .movies-card__like_active {
    margin-top: 0;
    position: absolute;
    bottom: 36px;
    right: 16px;
  }
}

