.movies-card__like {
  width: 14px;
  height: 12px;
  background-image: url(../../../images/icon-like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
}

.movies-card__like_active {
  width: 14px;
  height: 12px;
  background-image: url(../../../images/icon-like_active.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
}