.profile {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 44px;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 0;
    justify-content: end;
    visibility: hidden;
  }
}