.movies-card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
  padding: 0;
  margin: 13px 0 0;
}

@media screen and (max-width: 600px) {
  .movies-card__duration {
    width: 228px;
    margin: 8px 0 0;
  }
}