.portfolio__element-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -.04em;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .portfolio__element-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 540px) {
  .portfolio__element-text  {
    font-size: 18px;
    line-height: 28px;
  }
}