
@font-face {
  font-family: "Inter";
  src: url(./vendor/fonts/Inter/Inter-Regular.ttf) format("truetype"),
  url(./vendor/fonts/Inter/Inter-Medium.ttf) format("truetype"),
  url(./vendor/fonts/Inter/Inter-SemiBold.ttf) format("truetype"),
  url(./vendor/fonts/Inter/Inter-Bold.ttf) format("truetype")
}

@font-face {
  font-family: "SuisseIntl";
  src: url(./vendor/fonts/SuisseIntl/SuisseIntl-SemiBold.ttf);
}
